/* Mobile First - screen sizes will start from mobile and media queries will be adjusted to tablet and desktop sizes */
html, body {
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    max-width: 100%;
    /* max-height: 100vh; */
    height: 100vh;
    background: blue;
}

/* Sticky header */
header {
    position: fixed;
    top: 0;
    min-height: 7vh;
    width: 100%;
}

.navbar {
    padding: 2% 4% 0 4%;
    display: flex;
    justify-content: space-between;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container > a {
    padding-right: 4vw;
}

.icon-container img{
    display: block; /*Getting rid of the white space between the images.*/
}

