/* Color variables */
:root {
    --main-content-peach: #FFDFBA;
    --white: #FFFFFF; 
    --secondary-content-blue: #014593;

}
/* Mobile First - screen sizes will start from mobile and media queries will be adjusted to tablet and desktop sizes */
html, body {
    min-width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.main-container {
    max-width: 100%;
    /* max-height: 100vh; */
    height: 100vh;
}

/* Sticky header */
header {
    position: fixed;
    top: 0;
    min-height: 7vh;
    width: 100%;
}

.navbar {
    padding: 2% 4% 0 4%;
    display: flex;
    justify-content: space-between;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-container > a {
    padding-right: 4vw;
}

.icon-container img{
    display: block; /*Getting rid of the white space between the images.*/
}

.main-content {
    height: 70%;
    /* Adding linear-gradient to have the necessary opacity over the background.*/
    background: 
    linear-gradient(rgba(1, 69, 147, 0.7),rgba(1, 69, 147, 0.7)),
    url(background/picture-bg-phone.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* using contain instead of cover to have the image better scaled. */
    background-size: contain;
}

.secondary-content {
    height: 30%;
    background: var(--white);
    color: var(--secondary-content-blue);
}